
body{
    transition: 1s;
}

#colorBackground{
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
#colorBackground::-webkit-color-swatch-wrapper {
    padding: 5px;	
}
#colorBackground::-webkit-color-swatch {    
    border: none;
    border-radius: 100%;
}

.addSVGIcon:hover{
    fill: rgb(59, 122, 240);
    cursor: pointer;
}

#textToCreateSub , #eventNameInput , #eventNameInput_edit{
    font-size: 30px;
}

.animateSVG:hover{
    animation: bounce 600ms;
}
.animateSVG2{
    animation: animateSVG2_ 400ms ease;
}
.animateSVG2:hover{
    animation: animateSVG2 300ms ease;
}
.animateSVG{
    animation: bounce_ 900ms;
    cursor: pointer;
}
.addAnimationBounce{
    animation: bounce_ 700ms;
}
.addAnimationBounce:hover{
    animation: bounce 700ms;
}

#openPopupCreateSub{
    width: 200px;
}

span.openPopupCreateSubText{
    opacity: 0;
    transition: 10s;
}

#openPopupCreateSub:hover span.openPopupCreateSubText{
    opacity: 1;
    transition: 1s;
}

#indicatorRed{
    width: 50%;
    height:12px;
    background-color: rgb(251, 98, 98);
    position: fixed;
    left: 0; 
    bottom: 0;
    display: inline-block; 
    transition: 1.5s ease ;
}

#indicatorGreen{
    width: 50%;
    height:12px;
    background-color: rgb(138, 255, 109); 
    position: fixed;
    right: 0;    
    bottom: 0;
    display: inline-block; 
    transition: 1.5s ease;
}

@keyframes animateSVG2{
    0%{
        transform: scale(1);
    }
    55%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes animateSVG2_{
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(5deg);
    }
    66%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(5deg);
    }
}

@keyframes bounce{
    0%{
        transform: translate3d(0px, 0px, 0px);
    }
    25%{
        transform: translate3d(0px, 2px, 0px);
    }
    75%{
        transform: translate3d(0px, -1px, 0px);
    }
    100%{
        transform: translate3d(0px, 0px, 0px);
    }
}
@keyframes bounce_{
    0%{
        transform: translate3d(0px, 0px, 0px);
    }
    25%{
        transform: translate3d(0px, 0.5px, 0px);
    }
    75%{
        transform: translate3d(0px, -1px, 0px);
    }
    100%{
        transform: translate3d(0px, 0px, 0px);
    }
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.enable-select {
    user-select: text; /* supported by Chrome and Opera */
   -webkit-user-select: text; /* Safari */
   -khtml-user-select: text; /* Konqueror HTML */
   -moz-user-select: text; /* Firefox */
   -ms-user-select: text; /* Internet Explorer/Edge */
}

#createEventDate, #createEventDate_edit{
    font-family: sans-serif;
    width: 70%;
    border-radius: 10px;
    transition: background-color 0.5s, border-radius 0.7s, box-shadow 0.2s;
    height: 40px;
    font-size: 50px;
    box-shadow: 0px 0px 5px black;
}
#createEventDate:hover{
    background-color: rgb(182, 214, 255);
    border-radius: 15px;
    box-shadow:  0px 0px 5px 0px #3c00ff;
    animation: popout 0.2s;
}
#createEventDate_edit:hover{
    background-color: rgb(182, 214, 255);
    border-radius: 15px;
    box-shadow:  0px 0px 5px 0px #3c00ff;
    animation: popout 0.2s;
}
#createEventDate:focus{
    background-color: rgb(188, 255, 205);
    border-radius: 10px;
    box-shadow:  0px 0px 7px 0px #000000;
    animation: popout3 0.2s ;
}
#createEventDate_edit:focus{
    background-color: rgb(188, 255, 205);
    border-radius: 10px;
    box-shadow:  0px 0px 7px 0px #000000;
    animation: popout3 0.2s ;
}

input{
    outline: none;
}
#activitiesNumNotificationNotFree{
    color: rgb(255, 255, 255);
    padding: 0px 8px;
    font-size: 25px;
    background-color: rgb(255, 43, 43);
    box-shadow: 0px 0px 10px white;
}
#activitiesNumNotificationFree{
    color: rgb(0, 0, 0);
    padding: 0px 15px;
    background-color: rgb(148, 255, 154);
    /* border-radius: 20px; */
    box-shadow: 0px 0px 8px 1px  black;
}

#redus_span{
    background-color: rgb(250, 202, 202);
    padding: 40px 35px 30px 35px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px black;
    transition: 1s ease;
}
#redus_span:hover{
    background-color: rgb(255, 221, 221);
    box-shadow: 0px 0px 25px rgb(133, 133, 133);    
}
#greenes_span{
    background-color: rgb(191, 253, 202);
    padding: 40px 35px 30px 35px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px black;
    transition: 1s ease;
}
#greenes_span:hover{
    background-color: rgb(211, 255, 219);
    box-shadow: 0px 0px 25px rgb(107, 107, 107);    
}
#greenes_span svg{
    animation: turn 1200ms cubic-bezier(0.6, 0.2, 0.845, 0.9915) 0s ;  
}
#greenes_span:hover > svg{
    animation: bounceSVG 1s;  
}
#redus_span svg{
    animation: turn 1200ms cubic-bezier(0.6, 0.2, 0.845, 0.9915) 0s ;  
}
#redus_span:hover > svg{
    animation: bounceSVG 1s;  
}
@keyframes turn{
    0%{
        transform: scale(2.5) rotate(0deg);
    }
    25%{
        transform: scale(2.35) rotate(-0deg);
    }
    100%{
        transform: scale(2.5) rotate(0deg);
    }
}
@keyframes bounceSVG{
    0%{
        transform: scale(2.5) translate3d(0px, 0px, 0px);
    }
    25%{
        transform: scale(2.5) translate3d(0px, -0.5px, 0px);
    }
    75%{
        transform: scale(2.5) translate3d(0px, 0.5px, 0px);
    }
    100%{
        transform: scale(2.5) translate3d(0px, 0px, 0px);
    }
}
select { text-align-last: center; }


#form {
    /* Apenas para centralizar o form na página */
    margin: auto;
    width: 500px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
#form input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 80%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}
#form input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    /* border-color: #000; */
}
#form textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}
#form div + div {
    margin-top: 1em;
}

#tarefaTitleForm , #tarefaTitleForm_edit{
    font-family: sans-serif;
    width: 70%;
    border-radius: 10px;
    border: none;
    transition: background-color 0.5s, border-radius 0.7s, box-shadow 0.2s;
    height: 40px;
    font-size: 50px;
}
#tarefaTitleForm:hover{
    background-color: rgb(219, 235, 255);
    border-radius: 15px;
    box-shadow:  0px 0px 5px 0px #3c00ff;
    animation: popout 0.5s;
}
#tarefaTitleForm:focus{
    background-color: rgb(212, 255, 223);
    border-radius: 10px;
    box-shadow:  0px 0px 7px 0px #000000;
    animation: popout3 0.5s ;
}
#tarefaTitleForm_edit:hover{
    background-color: rgb(217, 233, 255);
    border-radius: 15px;
    box-shadow:  0px 0px 5px 0px #3c00ff;
    animation: popout 0.5s;
}
#tarefaTitleForm_edit:focus{
    background-color: rgb(220, 255, 229);
    border-radius: 10px;
    box-shadow:  0px 0px 7px 0px #000000;
    animation: popout3 0.5s ;
}
#descricao , #descricao_edit{
    font-family: sans-serif;
    width: 70%;
    border-radius: 10px;
    border: none;
    transition: background-color 0.5s, border-radius 0.7s, box-shadow 0.2s;
    height: 40px;
}
#descricao:hover{
    background-color: rgb(219, 235, 255);
    border-radius: 15px;
    box-shadow:  0px 0px 5px 0px #3c00ff;
    animation: popout 0.5s;
}
#descricao:focus{
    background-color: rgb(214, 255, 225);
    border-radius: 10px;
    box-shadow:  0px 0px 7px 0px #000000;
    animation: popout3 0.5s ;
}
#descricao_edit:hover{
    background-color: rgb(214, 232, 255);
    border-radius: 15px;
    box-shadow:  0px 0px 5px 0px #3c00ff;
    animation: popout 0.5s;
}
#descricao_edit:focus{
    background-color: rgb(220, 255, 229);
    border-radius: 10px;
    box-shadow:  0px 0px 7px 0px #000000;
    animation: popout3 0.5s ;
}
#prazoForm, #prazoForm_edit{
    font-family: sans-serif;
    width: 70%;
    border-radius: 10px;
    border: none;
    transition: background-color 0.5s, border-radius 0.7s, box-shadow 0.2s;
    height: 40px;
    font-size: 50px;
}
#prazoForm:hover{
    background-color: rgb(215, 233, 255);
    border-radius: 15px;
    box-shadow:  0px 0px 5px 0px #3c00ff;
    animation: popout 0.5s;
}
#prazoForm:focus{
    background-color: rgb(221, 255, 230);
    border-radius: 10px;
    box-shadow:  0px 0px 7px 0px #000000;
    animation: popout3 0.5s ;
}
#addTarefa, #editTarefa{
    width: fit-content;
    background-color: rgb(12, 0, 46);
    border-radius: 10px;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px 0px rgb(195, 255, 210);
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    animation: popout3 0.5s ease 100ms;
    outline: none;
    transition: background-color 1s ease 0.5s,border-radius 800ms ease 100ms, color 1s ease-in 0.6s, box-shadow 2000ms ease-out 0.1s;

}
#addTarefa:hover{
    background-color: rgb(53, 53, 53);
    border-radius: 25px;
    color: rgb(220, 255, 206);
    box-shadow: 0px 0px 30px 0px rgb(201, 255, 204);
    animation: popout4 0.5s ease;
    cursor: pointer;
    transition: background-color 1.2s ease,border-radius 1000ms ease, color 1.2s ease-in, box-shadow 2000ms ease-out;
}

#editTarefa:hover{    
    background-color: rgb(188, 236, 160);
    border-radius: 25px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 30px 0px rgb(201, 255, 204);
    animation: popout4 0.5s ease;
    cursor: pointer;
    transition: background-color 1.2s ease,border-radius 1000ms ease, color 1.2s ease-in, box-shadow 2000ms ease-out;
}

@-webkit-keyframes popout3 {
    from{transform:scale(1)}
    50%{transform:scale(1.03)}
    to{transform:scale(1)}
}
@keyframes popout3 {
    from{transform:scale(1)}
    50%{transform:scale(1.03)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout4 {
    from{transform:scale(1)}
    50%{transform:scale(1.021)}
    to{transform:scale(1)}
}
@keyframes popout4 {
    from{transform:scale(1)}
    50%{transform:scale(1.021)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{transform:scale(1)}
    50%{transform:scale(1.01)}
    to{transform:scale(1)}
}
@keyframes popout {
    from{transform:scale(1)}
    50%{transform:scale(1.01)}
    to{transform:scale(1)}
}