
.popup-wrapper{
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.popup {
    font-family: Arial;
    text-align: center;
    width: fit-content;
    margin: 7% auto;
    padding: 50px;
    background: white;
    position: relative;
    box-shadow: 0px 0px 1000px black;
}
.popup-close{
    position: absolute;
    font-size: xx-large;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

#timeToAddToRow, #timeToAddToRowEdit{
    font-size: 30px;        
}

.inputTextDay{
    font-size: 30px;
    height: 30px;
    width: fit-content;
    max-width: 150px;
    text-align: center;
    border-radius: 10px;
    outline: none;
}

#subColor, #eventColor, #eventColor_edit{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    outline: none;
}

.selectSubDay{
    font-size: 30px;
    width: 155px;
    text-align: center;
    border-radius: 10px;
    outline: none;
}

#deleteSubButton{
    margin-top: 20px;
    font-size: 31px;
    width: 205px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 240, 240);
    box-shadow: 0px 0px 7px black;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    transition: 700ms;
}
#deleteSubButton:hover{
    border-radius: 10px;
    background-color: rgb(255, 220, 220);
    box-shadow: 0px 0px 10px black;    
}
.pointer:hover{
    cursor: pointer;
}


textarea{    
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    box-shadow: 0px 0px 5px black;
}


#shoT_Title_2{
    color: rgb(24, 1, 51);
    font-size: 50px;
    /* padding: 10px 15px;
    width: fit-content;
    margin: 10px auto 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 2px  rgb(0, 0, 0);
    transition: 1s ease; */
}
#shoT_Title_2:hover{
    /* width: fit-content;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    animation: rotation 600ms ease; */
}
#shoT_Descricao_2{
    margin: 15px 10%;
    font-size: xx-large;
    text-align: center;
}
#sub_title_2_3{
    color: rgb(42, 0, 90);
    font-size: 60px;
}
#shoT_Dia_2{
    color: rgb(24, 1, 51);
    font-size: 30px;
    /* color: rgb(0, 0, 0);
    padding: 10px;
    width: fit-content;
    margin: 10px auto 0 auto;
    background-color: rgb(239, 255, 240);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    transition: 1s ease; */
}
#shoT_Dia_2:hover{
    /* color: rgb(28, 0, 129);
    padding: 10px;
    width: fit-content;
    margin: 10px auto 0 auto;
    background-color: rgb(212, 255, 216);
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgb(37, 0, 122);
    animation: rotation 600ms ease; */
}
#shoT_Hoje_2{
    margin: 15px 10%;
    font-size: large;
    max-width: 600px;
    text-align: center;
    font-size: x-large;
}
#shoT_Prazo_2{
    color: rgb(0, 0, 0);
    padding: 10px;
    width: fit-content;
    margin: 10px auto 0 auto;
    background-color: rgb(255, 218, 218);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    transition: 1s ease;
}
#shoT_Prazo_2:hover{
    color: rgb(0, 0, 105);
    padding: 10px;
    width: fit-content;
    margin: 10px auto 0 auto;
    background-color: rgb(255, 176, 144);
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgb(64, 3, 163);
    animation: rotation 600ms ease;
}
#shoT_TempoRestante_2{
    color: rgb(0, 0, 0);
    padding: 10px;
    width: fit-content;
    margin: 10px auto 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    transition: 1s ease;
}
#shoT_TempoRestante_2:hover{
    color: rgb(0, 0, 105);
    padding: 10px;
    width: fit-content;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    animation: rotation 600ms ease;
}


